<!DOCTYPE html>
<html>
  <head>
    <title>ZZshop - Store</title>
    <link rel="icon" type="image/png" href="ZZshoplogo.png">
    <link href="Page1.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap" rel="stylesheet">
  </head>

  <nav class="navbar">
    <ul>
        <li class="ign"><a href="/index.html">
        <img src="ZZshoplogo.png" width="100" height="100"></a></li>
      <li><a href="#WORLDCUP">WORLD CUP🏆</a>
    <ul>
      <li><a href="#1998">1998 LIST              ⭐</li>
      <li><a href="#2006">2006 LIST          👨🏼‍🦲💢</a></li>
    </ul>
    </li>
      <li><a href="/Collab.html">COLLABORATION 🤝</a></li>
    </ul>
  </nav>

  

  

  <section id="WORLDCUP"></section>
  <br></br><br></br><br></br>
  <font size=9><strong>WORLD CUP PRODUCTS 🏆</strong></font>

  <br></br><br></br><br></br>

  <section id="1998"></section>
  <br></br><br></br><br></br>
  <br><u><font size=6>1998 LIST⭐</font></u></br>

    <a href="jersey.html">
    <img src="ZZshirt98.gif">
    <h2><font size=6>WORLD CUP JERSEY 98 👕 <br>60€</br></a></h2></font>  
    <a href="###"> 
    <img src="ZZshort98.gif">
    <h2><font size=6>WORLD CUP SHORT 98 🩳</a></h2></font>
    <a href="###">
    <img src="ZZchaussure98.gif">
    <h2><font size=6>WORLD CUP SHOES 98 👟</a></h2></font>
    <a href="###">
    <img src="ZZballon98.gif">
    <h2><font size=6>WORLD CUP BALL 98 ⚽</a></h2></font> 
    <a href="###">
    <img src="ZZpack98_1.gif">
    <h2><font size=6>PACK N°1 WORLD CUP 98 JERSEY + SHORT 👕🩳</a></h2></font> 
    <a href="###"> 
    <img src="ZZpack98_2.gif">
    <h2><font size=6>PACK N°2 WORLD CUP 98 JERSEY + SHORT + SHOES 👕🩳👟</a></h2></font>
    <a href="###"> 
    <img src="ZZpack98_3.gif">
    <h2><font size=6>PACK N°3 WORLD CUP 98 JERSEY + SHORT + BALL 👕🩳⚽</a></h2></font>
    <a href="###">
    <img src="ZZpack98_4.gif">
    <h2><font size=6>PACK N°4 WORLD CUP 98 JERSEY + SHORT + SHOES + BALL 👕🩳👟⚽</a></h2></font>  
    
  <section id="2006"></section>
  <br></br><br></br><br></br>
  <br><u><font size=6>2006 LIST 👨🏼‍🦲💢</font></u></br>

    <a href="###">
    <img src="ZZshirt2006.gif">
    <h2><font size=6>WORLD CUP JERSEY 2006 👕</a></h2></font>  
    <a href="###">
    <img src="ZZshort2006.gif">
    <h2><font size=6>WORLD CUP SHORT 2006 🩳</a></h2></font>
    <a href="###">
    <img src="ZZchaussure2006.gif">
    <h2><font size=6>WORLD CUP SHOES 2006 👟</a></h2></font>
    <a href="###">
    <img src="ZZballon2006.gif">
    <h2><font size=6>WORLD CUP BALL 2006 ⚽</a></h2></font> 
    <a href="###">
    <img src="ZZpack2006_1.gif">
    <h2><font size=6>PACK N°1 WORLD CUP 2006 JERSEY + SHORT 👕🩳</a></h2></font>  
    <a href="###">
    <img src="ZZpack2006_2.gif">
    <h2><font size=6>PACK N°2 WORLD CUP 2006 JERSEY + SHORT + SHOES 👕🩳👟</a></h2></font>
    <a href="###"> 
    <img src="ZZpack2006_3.gif">
    <h2><font size=6>PACK N°3 WORLD CUP 2006 JERSEY + SHORT + BALL 👕🩳⚽</a></h2></font>
    <a href="###">  
    <img src="ZZpack2006_4.gif">
    <h2><font size=6>PACK N°4 WORLD CUP 2006 JERSEY + SHORT + SHOES + BALL👕🩳👟⚽</a></h2></font>        


    </div>






      
    
    













    <br>
    <p id="body">©ZZshop</p>
    </br>