<!DOCTYPE html>
<html>
  <head>
    <title>ZZshop - Home</title>
    <link rel="icon" type="image/png" href="ZZshoplogo.png">
    <link href="Page1.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap" rel="stylesheet">
  </head>

  <nav class="navbar">
    <ul>
        <li class="ign"><a href="/index.html">
        <img src="ZZshoplogo.png" width="100" height="100"></a></li>
      <li><a href="/Store.html">STORE 🛒</a>
    <ul>
      <li><a href="/clothes.html">OFFICIAL CLOTHES 👕</li>
      <li><a href="/Collab.html">COLLABORATION    🤝</a></li>
    </ul> 
    </li>
      <li><a href="/Zidane.html">MORE ABOUT ZIDANE 👨🏼‍🦲</a></li>
    </ul>
  </nav>


  <body>
    <img src="ZZ1.gif">



    <a href="/Store.html">
      <h2><font size=9>STORE 🛒</a></h2></font>
    <a href="/Collab.html">
      <h2><font size=6>COLLABORATION 🤝</a></h2></font>
      <a href="/Zidane.html">
        <h2><font size=4>MORE ABOUT ZIDANE 👨🏼‍🦲</a></h2></font>
  








    <br>
    <p id="body">©ZZshop</p>
    </br>
</body>  
    <footer>
    </footer>
</html>
