<!DOCTYPE html>
<html>
  <head>
    <title>ZZshop - Store</title>
    <link rel="icon" type="image/png" href="/img/ZZshoplogo.png">
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap" rel="stylesheet">
  </head>

  <nav class="navbar">
    <ul>
        <li class="ign"><a href="/">
        <img src="/img/ZZshoplogo.png" width="100" height="100"></a></li>
      <li><a href="/Store">STORE 🛒</a>
    <ul>
      <li><a href="/Store">OFFICIAL CLOTHES 👕</li>
      <li><a href="/Collab">COLLABORATION    🤝</a></li>
    </ul> 
    </li>
      <li><a href="/Zidane">MORE ABOUT ZIDANE 👨🏼‍🦲</a></li>
      <li><a href="/Cart">CART 🛍️</a></li>
    </ul>
  </nav>

    <a href="WorldCup.html">
    <img src="/img/ZZ1.gif">
    <h2><font size=9>WORLD CUP 🏆 </a></h2></font> 
      <a href="/WorldCup1998">
      <h2><font size=8>1998     ⭐ </a></h2></font> 
      <a href="/WorldCup2006">
      <h2><font size=9>2006 👨🏼‍🦲💢 </a></h2></font>
