<!DOCTYPE html>
<html>
  <head>
    <title>ZZshop - WorldCup2006</title>
    <link rel="icon" type="image/png" href="/img/ZZshoplogo.png">
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap" rel="stylesheet">
  </head>

  <nav class="navbar">
    <ul>
        <li class="ign"><a href="/">
        <img src="/img/ZZshoplogo.png" width="100" height="100"></a></li>
      <li><a href="#WORLDCUP">WORLD CUP🏆</a>
    <ul>
      <li><a href="#1998">1998 LIST              ⭐</li>
      <li><a href="#2006">2006 LIST          👨🏼‍🦲💢</a></li>
    </ul>
    </li>
      <li><a href="/Collab.html">COLLABORATION 🤝</a></li>
    </ul>
  </nav>

  

  

  <section id="2006"></section>
  <br></br><br></br><br></br>
  <br><u><font size=6>2006 LIST 👨🏼‍🦲💢</font></u></br>

    <a href="###">
    <img src="ZZshirt2006.gif">
    <h2><font size=6>WORLD CUP JERSEY 2006 👕</a></h2></font>  
    <a href="###">
    <img src="ZZshort2006.gif">
    <h2><font size=6>WORLD CUP SHORT 2006 🩳</a></h2></font>
    <a href="###">
    <img src="ZZchaussure2006.gif">
    <h2><font size=6>WORLD CUP SHOES 2006 👟</a></h2></font>
    <a href="###">
    <img src="ZZballon2006.gif">
    <h2><font size=6>WORLD CUP BALL 2006 ⚽</a></h2></font> 
    <a href="###">
    <img src="ZZpack2006_1.gif">
    <h2><font size=6>PACK N°1 WORLD CUP 2006 JERSEY + SHORT 👕🩳</a></h2></font>  
    <a href="###">
    <img src="ZZpack2006_2.gif">
    <h2><font size=6>PACK N°2 WORLD CUP 2006 JERSEY + SHORT + SHOES 👕🩳👟</a></h2></font>
    <a href="###"> 
    <img src="ZZpack2006_3.gif">
    <h2><font size=6>PACK N°3 WORLD CUP 2006 JERSEY + SHORT + BALL 👕🩳⚽</a></h2></font>
    <a href="###">  
    <img src="ZZpack2006_4.gif">
    <h2><font size=6>PACK N°4 WORLD CUP 2006 JERSEY + SHORT + SHOES + BALL👕🩳👟⚽</a></h2></font>        


    </div>






      
    
    













    <br>
    <p id="body">©ZZshop</p>
    </br>